<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GYM USM - Gestión de Casilleros</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
    <style>
        .comment-btn {
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function() {
            const updateAllData = () => {
                fetch('/api/casillero/getAll')
                    .then(response => response.json())
                    .then(data => {
                        const tableBody = document.getElementById('casilleroTable');
        
                        data.data.forEach(item => {
                            // Create a table row
                            const row = document.createElement('tr');
        
                            // Populate table cells with data
                            row.innerHTML = `
                                <td>${item.id}</td>
                                <td>
                                    <span class="badge ${item.disponible ? 'badge-success' : 'badge-danger'}">${item.disponible ? 'Disponible' : 'Bloqueado'}
                                </td>
                                <td>${item.estadoDescripcion ? item.estadoDescripcion : "Sin comentarios"}</td>
                                <td>
                                    <button id="${item.id}_update" class="btn btn-primary comment-btn">Agregar comentario</button>
                                </td>
                            `;
        
                            // Append the row to the table body
                            tableBody.appendChild(row);

                            document.getElementById(`${item.id}_update`).addEventListener('click', function() {
                                $("#commentModal").modal('show');

                                console.log(document.querySelector('#commentModal input[name="disponible"]').value)
        
                                document.querySelector('#commentModal textarea[name="estadoDescripcion"]').value = item.estadoDescripcion ? item.estadoDescripcion : "";
                                document.querySelector('#commentModal input[name="disponible"]').checked = !item.disponible;

                                const button = document.getElementById('commentModal').querySelector('input[type="submit"]');
                                button.replaceWith(button.cloneNode(true))

                                document.getElementById('commentModal').querySelector('input[type="submit"]').addEventListener('click', function() {
                                    const data = {
                                        estadoDescripcion: document.querySelector('#commentModal textarea[name="estadoDescripcion"]').value,
                                        disponible: !document.querySelector('#commentModal input[name="disponible"]').checked
                                    }

                                    console.log(data)
        
                                    fetch(`/api/casillero/${item.id}`, {
                                        method: 'PATCH',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(data)
                                    }
                                    )
                                    .then(response => response.json())
                                    .then(data => {
                                        window.location.reload();
                                    })
                                }) 
                            });
                        })
                    })
            }

            updateAllData()

            document.addEventListener('DOMContentLoaded', function() {
                // Get the form element
                var form = document.getElementById('commentModal');

                // Listen for the form submission event
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Prevent the default form submission behavior

                    // Here, you can add code to handle the form submission, like an AJAX request

                    // Simulating a delay before reloading the page (Replace this with your actual code)
                    setTimeout(function() {
                        // Reload the page after a delay (e.g., 3 seconds)
                        window.location.reload();
                    }, 3000); // Change the time delay as needed (in milliseconds)
                });
            });
        })
        </script>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">GYM USM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/casilleros">Administrar Casilleros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/horariosFuncionarios">Horario Funcionarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/funcionarios">Administrar Funcionarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/estudiantes">Administrar Estudiantes</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-5">
                        <li class="nav-item">
                            <a id="logout" class="nav-link ml-auto" href="/api/auth/logout">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Casilleros</h2>
        <table id="casilleroTable" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Estado</th>
                    <th>Comentario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Modal para adjuntar comentarios -->
    <div class="modal fade" id="commentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Comentario del Casillero</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Adjunta un comentario para el casillero.</p>
                    <div class="form-group">
                        <textarea name="estadoDescripcion" class="form-control" placeholder="Escribe tu comentario"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-check mt-2 mb-2 ml-1">
                            <input name="disponible" class="form-check-input" type="checkbox" id="exampleCheckbox" style="transform: scale(1.5);">
                            <label class="form-check-label" for="exampleCheckbox" style="font-size: 16px;">
                                Casillero Bloqueado
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Guardar">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
